fastapi
uvicorn
langchain
langchain-core
langchain-google-genai
langchain-community
google-search-results
google-api-python-client
pydantic
python-dotenv
beautifulsoup4
requests
playwright
langgraph
aiohttp==3.8.6
